* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 10px 20px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 115px;
  height: 115px;
}

.nav__link {
  display: none;
}

.header__burgerMenu {
  height: 42px;
  width: 42px;
}

.main {
  padding: 20px 10px;
  display: grid;
  gap: 20px;
}

.main-slider {
  font-family: "Roboto", sans-serif;
  max-width: 380px;
  height: 650px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: #4a72b0;
  color: white;
}

.slider2 {
}

.slider4 {
}

.main__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.main__title2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.main__text {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.main__h3 {
  margin: 0;
  text-align: center;
}

.mail {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  text-align: center;
}

.contacs__sede {
  margin-top: 15px;
}

.contacts__grid {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
  margin-bottom: 15px;
}

.icons {
  height: 38px;
  width: 38px;
}

.footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
}

.map-container {
  padding: 0 10px;
}

.map__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 300;
}

.wp {
  border-radius: 6px 6px 6px 6px;
  bottom: 25px;
  right: 20px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  text-align: center;
  width: 90px;
  z-index: 15;
}
