* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 10px 20px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 106px;
  height: 106px;
}

.nav__link {
  display: none;
}

.header__burgerMenu {
  height: 36px;
  width: 36px;
}

.main {
  padding: 20px 5px;
  display: grid;
  gap: 20px;
  background-color: #f4f4f4;
}

.main-slider {
  font-family: "Roboto", sans-serif;
  max-width: 380px;
  height: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.main__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin: 0;
}

.main__title2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.main__text {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.main__h3 {
  margin: 0;
  text-align: center;
}

.mail {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.icon__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.icons {
  height: 40px;
  width: 40px;
}

.footer {
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.map__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 300;
}
