* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 500px) {
  .header {
    height: 12vh;
  }
}

@media (min-width: 500px) {
  .div-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.header__logo {
  width: 115px;
  height: 115px;
}

@media (min-width: 500px) {
  .header__logo {
    margin: 0 auto;
    margin-top: 6px;
  }
}

.nav__link {
  display: none;
}

@media (min-width: 500px) {
  .nav__link {
    display: inherit;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    color: #4a72b0;
    margin: 0 auto;
  }
}

.header__burgerMenu {
  height: 42px;
  width: 42px;
}

@media (min-width: 460px) {
  .header__burgerMenu {
    display: none;
  }
}

.header_burgermenu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  position: absolute;
  width: 300px;
  height: 450px;
  top: 40px;
  right: 0px;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: none;

  -webkit-box-shadow: -9px 10px 48px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 10px 48px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 10px 48px -7px rgba(0, 0, 0, 0.75);
}

.buger-link {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: #4a72b0;
}

.main {
  padding: 20px 10px;
  display: grid;
  gap: 20px;
}
@media (min-width: 460px) {
  .main {
    width: 100%;
    height: 60vh;
  }
}
.main-slider {
  font-family: "Roboto", sans-serif;
  max-width: 380px;
  height: 650px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: #4a72b0;
  color: white;
}
@media (min-width: 460px) {
  .main-slider {
    max-width: 100%;
    height: 100%;
  }
  .slider1 {
    width: 800px;
  }
  .slider2 {
    display: none;
    width: 800px;
  }
  .slider3 {
    display: none;
    width: 800px;
  }
  .slider4 {
    width: 800px;
    display: none;
  }
}
.main__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

@media (min-width: 460px) {
  .main__title {
    font-weight: 800;
    font-size: 46px;
  }
}

.main__title2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.main__text {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
@media (min-width: 460px) {
  .main__text {
    font-size: 28px;
    text-align: center;
  }
}

@media (min-width: 460px) {
  .desktop {
    font-size: 20px;
    text-align: center;
  }
}

.main__h3 {
  margin: 0;
  text-align: center;
}

.mail {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  text-align: center;
}

.contacs__sede {
  margin-top: 15px;
}

@media (min-width: 460px) {
  .contacs__sede {
    width: 340px;
    margin: 0 auto;
  }
}
.contacts__grid {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 460px) {
  .contacts__grid {
    width: 340px;
    margin: 0 auto 15px;
  }
}

.icons {
  height: 38px;
  width: 38px;
}

.footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
}

@media (min-width: 460px) {
  .footer {
    height: 28vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.map-container {
  padding: 0 10px;
}

@media (min-width: 460px) {
  .map-container {
    padding: 0;
    margin: 0 auto;
  }
}

.map__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 300;
}

.wp {
  border-radius: 6px 6px 6px 6px;
  bottom: 25px;
  right: 20px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  text-align: center;
  width: 90px;
  z-index: 15;
}

.div-footer-water {
  display: none;
}

@media (min-width: 460px) {
  .div-footer-water {
    display: block;
    width: 350px;
    font-size: 20px;
    opacity: 30%;
  }
}

@media (min-width: 460px) {
  .wp {
    display: none;
  }
}

@media (min-width: 460px) {
  .div-footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 460px) {
  .div-footer-contact {
    display: flex;
    margin: 0 auto;
  }
}
